* {
  color: black;
  font-size: 11px;
  margin-top: -1px;
  margin-bottom: -2px;
}
p, strong{
  font-size: 14px;
}

body,
html {

  text-align: center;
  height: 100%;
  width: 100%;
  display: block;
  float: left;
  animation: fadein 2s;
  background-image: repeating-linear-gradient(#ffffff, #07166f);
}

.imgLogo {
  float: center;
  height: 100px;
}

.titleh1 {
  float: center;
  margin-left: 10px;
  font-size: 30px;
  margin-top: 0px;
}

.kmPercorrido{
  margin-top: 100px;
}

body.img {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
}

label,
input,
select {
  display: flex;
  margin-bottom: 10px;
  margin-left: 45%;
  text-align: center;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 8px 3px 4px;
  padding: initial;
  border: initial;
}

button {
  margin-bottom: 5px;
  padding: 10px 20px;
  text-align: center;
}

#resultado {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-right: -2%;
  color: black;
}

.desloc {
  background-color: transparent;
  font-size: 10px;
}

#itensAdicionais {
  background-color: transparent;
  font-size: 10px;
}

/*fade da tela*/
@keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}