    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      text-align: center;
    }
    label, input, select {
      display: flex;
      margin-bottom: 10px;
      margin-left: 45%;
      text-align: center;
      
    }
    input[type="checkbox" i] {
      background-color: initial;
      cursor: default;
      appearance: auto;
      box-sizing: border-box;
      margin: 3px 8px 3px 4px;
      padding: initial;
      border: initial;
  }
    button {
      margin-top: 10px;
      padding: 10px 20px;
      text-align: center;
    }
    #resultado {
      margin-top: 20px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      margin-right: 45%;
    }
    .desloc{
      background-color: darkslategray;
      width: 50%;
      margin-right: 50%;
      display: block;
    }
    .valorPecas{
      background-color: darkslategray;
      float: right;
      width: 50%;
    }
    #btnCalc{
    margin-left: 9%;
    }
    #titleDesloc{
      margin-right: 45%;
    }